.navbar {
  background-color: black;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: 0.5px solid #8edf37;
}

.navbar img {
  width: 8%;
  padding-left: 30px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding-right: 30px;
}

li a:hover {
  color: #8edf37;
}
