.navbar {
  background-color: black;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: 0.5px solid #8edf37;
}

.navbar img {
  width: 8%;
  padding-left: 30px;
}

.navbar ul {
  display: flex;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.howtoplay-link,
.aboutus-link {
  padding-right: 30px;
  transition: color 0.3s;
}

.howtoplay-link:hover,
.aboutus-link:hover {
  color: #8edf37;
  cursor: pointer;
}
