.about {
  background: no-repeat center/120% url("/AboutPageBackground.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

p {
  padding: 20px;
  font-size: 22px;
  background-color: rgba(142, 223, 55, 0.5);
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
  margin-top: 50px;
  line-height: 2rem;
}

.name_list {
  list-style-type: none;
  display: flex;
}

li {
  display: flex;
  flex-flow: column wrap;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  align-items: center;
  background-color: rgba(134, 255, 215, 0.45);
  padding: 15px;
  box-shadow: 5px 5px 8px black;
}

.image {
  width: 150px;
  height: 200px;
  margin-top: 20px;
}

.malika_avatar {
  background: no-repeat center/100% url("/malika_avatar.jpg");
}

.margaux_avatar {
  background: no-repeat center/100% url("/margaux_avatar.jpg");
}

.maxime_avatar {
  background: no-repeat center/100% url("/maxime_avatar.jpg");
}

.aurélien_avatar {
  background: no-repeat center/100% url("/aurélien_avatar.jpg");
}

.sylvain_avatar {
  background: no-repeat center/100% url("/sylvain_avatar.jpg");
}
