.footer {
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  width: 8%;
  margin-left: 40px;
}

.footer p {
  color: white;
  margin-left: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 0.8em;
}

.footer p span {
  color: #8edf37;
}

.social-network {
  margin-right: 40px;
}

.social-network img {
  width: 40px;
  margin-left: 15px;
}

.footer img:hover {
  opacity: 85%;
}
