.game-container {
  background: url("/images/forest.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .Left-section {
    width: 300px;
    height: 600px;
    text-align: center;
    color: white;

    .LifeCounter {
      border: 1px solid rgb(157, 255, 77);
      height: 200px;
    }

    .Stuff {
      border: 1px solid rgb(255, 77, 246);
      height: 200px;
    }

    .Divers {
      border: 1px solid rgb(255, 193, 59);
      height: 200px;
    }
  }

  .Right-section {
    border: 1px solid yellow;
    width: 300px;
    height: 600px;
    color: white;
    text-align: center;
  }
}
