.map-area {
  background-image: url("/game/map/texture1.jpg");
}
.row {
  width: 800px;
  height: 40px;
}

.tile {
  display: inline-flex;
}
.secret-tree {
  background-image: url("/game/map/secret_tree.png");
}
.poison-element {
  background-image: url("/game/map/poison-tree.png");
}

.plant {
  background-image: url("/game/map/plant_01.png");
}
.tree {
  background-image: url("/game/map/tree.png");
}

.rock {
  background-image: url("/game/map/stone1.png");
  background-repeat: no-repeat;
}
.water {
  background-image: url("/game/map/water1.jpg");
}

.chest {
  background-image: url("/game/map/chest.png");
  background-repeat: no-repeat;
}

.road {
  background-image: url("/game/map/road1.png");
}

.house {
  background-image: url("/game/map/house.png");
}

.sorry {
  background-image: url("/game/map/sorry.jpg");
}
