.about {
  background: no-repeat center/100% url("/images/AboutPageBackground.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 1.5em;
  color: white;
}

.introduction {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 22px;
  text-align: center;
  line-height: 1.5rem;
  color: white;
  margin: 45px 0 55px 0;
}

.character-container {
  display: flex;
  width: 90%;
}

.character-bloc {
  margin: 0 10px;
  width: 90%;
}

.about img {
  width: 100%;
  margin-bottom: 10px;
}

.character-bloc a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  background: linear-gradient(
    17deg,
    rgba(97, 246, 39, 1) 19%,
    rgba(175, 251, 131, 1) 100%
  );
  padding: 10px 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  opacity: 80%;
  transition: opacity 0.3s;
}

.character-bloc a:hover {
  opacity: 100%;
}
